<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <!--
        Zoom Template 
        http://www.templatemo.com/tm-414-zoom
        -->
        <title>BOOM!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <!-- Google Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <link rel="stylesheet" href="logincss/bootstrap.min.css">
        <link rel="stylesheet" href="logincss/font-awesome.min.css">
        <link rel="stylesheet" href="logincss/templatemo_main.css"> </head>


    <body>
        <div id="main-wrapper" class="back">
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center templatemo-logo margin-top-20">
               <div class="row">
                <h1 class="templatemo-site-title">
                    <a href="#">BOOM!</a>
                    
                </h1> 
                <i class=" welcome logout fas fa-power-off">&nbsp;&nbsp;&nbsp;&nbsp;</i> <div class="welcome templatemo-site-title"> 
                    </div>
            </div>
            </div>

            <div class="image-section">
                <div class="image-container">
                    <img src="loginimages/zoom-bg-1.jpg" id="menu-img" class="main-img inactive" alt="Zoom HTML5 Template by templatemo.com">
                    <img src="loginimages/zoom-bg-2.jpg" id="products-img" class="inactive" alt="login">
                    <img src="loginimages/zoom-bg-3.jpg" id="services-img"  class="inactive" alt="Services">
                    <img src="loginimages/zoom-bg-4.jpg" id="about-img" class="inactive" alt="About">
                      <img src="loginimages/zoom-bg-7.jpg" id="company-intro-img" class="main-img inactive" alt="Company Intro">
                </div>
            </div>

            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
                    <div class="templatemo-content">
                        
                        <section id="menu-section" class="active">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#products" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-user"></i>
                                            <h2>Login</h2>
                                        </div>
                                    </a>
                                </div>
                              
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#about" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-users"></i>
                                            <h2>Registration</h2>
                                        </div>
                                    </a>
                                </div>
                               
                                <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#contact" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-envelope"></i>
                                            <h2>Contact</h2>
                                        </div>
                                    </a>
                                </div>
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <a href="#company-intro" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Introduction to Company</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <a href="#testimonials" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Testimonials and Awards</h2>
                                        </div>
                                    </a>
                                </div>
                               
                            </div> -->
                            </div>
                          <div class="row secondrow">
                           <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20 joinchat">
                                <a href="#services" class="change-section">
                                    <div class="black-bg btn-menu">
                                       
                                        <i class="fa fa-handshake"></i>
                                        <h2>Join Meeting</h2>
                                    </div>
                                </a>
                            </div>  
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                <a href="#company-intro" class="change-section">
                                    <div class="black-bg btn-menu">
                                        <i class="fa fa-laptop"></i>
                                        <h2>Start Meeting</h2>
                                    </div>
                                </a>
                            </div>



                          </div>

                        </section>
                        <!-- login /.menu-section -->    
                        <section id="products-section" class="inactive">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                      
                                        <div class="login">
                                          <h1>Login!</h1>
                                          <form>
                                            <p><input type="text" id="username" name="username" value="" placeholder="Username or Email"></p>
                                            <p><input type="password" id="password" name="password" value="" placeholder="Password"></p>
                                            <p class="remember_me">
                                              <!-- <label>
                                                <input type="checkbox" name="remember_me" id="remember_me">
                                                Remember me on this computer
                                              </label> -->
                                            </p>
                                            <input type="button" name="btn" value="Login!" id="submitBtn" data-toggle="" data-target="#myModal" class="submit" />
                                        </form>
                                        </div>
                                        
                                        <div class="login-help">
                                          <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
                                        </div>
                                        
                                        
                            




                                    </div>
                                </div>
                                 <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" col-sm-12 col-md-12 col-lg-12 pull-right">

                                        <a href="#menu" class="change-section">
                                            <div class="black-bg btn-menu">
                                                <h2>Back to menu</h2>
                                            </div>
                                        </a>


                                    </div>
                                </div> 
                            </div>
                        
                        </section><!-- /.join chat -section -->    
                        <section id="services-section" class="inactive">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-6 col-md-6 col-lg-6 black-bg">


                                        <head>
                                            <meta charset="utf-8">
                                            <title>Stay Connected! Join Chat</title>
                                            <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                    
                                          <form>
                                          
                                            <h1>Stay Connected!</h1>
                                            
                                            <fieldset>
                                            
                                              <label for="meetingid">MeetingId:</label>
                                               <input type="text" id="meetingid" name="meetingid">
                                              
                                              <label for="password">Password:</label>
                                              <input type="text" id="meetingpassword" name="password">
                                              
                                           
                                          
                                            
                                              <label>Interests:</label>
                                              <input type="checkbox" id="muteaudio" value="muteaudio" name="user_interest"><label class="light" for="muteaudio">Mute Audio</label><br>
                                                <input type="checkbox" id="disablevideo" value="disablevideo" name="user_interest"><label class="light" for="disablevideo">Disable Video</label><br>
                                            
                                            </fieldset>
                                            <button id="stayconnected" type="submit">Connected!</button>
                                          </form>
                                          
                                        </body>
                                     

                                     </div>
                                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                        <a href="#menu" class="change-section">
                                            <div class="black-bg btn-menu">
                                                <h2>Back to menu</h2>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                         
                        </section>
                        <!-- register section/.services-section -->    
                        <section id="about-section" class="inactive">
                            <div class="row">
                                <div class=" col-sm-12 col-md-12 col-lg-12">
                                  
                                    <div class=" black-bg col-sm-6 col-md-6">


                                        <head>
                                            <meta charset="utf-8">
                                            <title>Register Here!</title>
                                            <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                    
                                          <form action="index.html" method="post">
                                          
                                            <h1>Register Here!</h1>
                                            
                                            <fieldset><label for="username">UserName:</label>
                                                <input type="text" id="username" name="username">
                                                
                                                <label for="Email">Email:</label>
                                                <input type="text" id="email" name="email">
  
  
  
                                                <label for="password">Login Password:</label>
                                                <input type="text" id="login_password" name="login_password">
                                                
                                             
                                                <label for="cfpassword">Meeting Id Password:</label>
                                                <input type="text" id="meeting_password" name="meeting_password">
                                           
                                           
                                            
                                             
                                            </fieldset>
                                            <button id="registerbutton" type="submit">Register!</button>
                                          </form>
                                          
                                        </body>


                                    </div>
                                    <div class="col-sm-6 col-md-6 pull-right">
                                        <a href="#menu" class="change-section">
                                            <div class="black-bg btn-menu">
                                                <h2>Back to menu</h2>
                                            </div>
                                        </a>
                                    </div>  
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                        </section><!-- /.about-section -->    
                        <section id="contact-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">


                                    
                                </div>
                                
                                    
                                    

                                    
                            
                            </div>
                        </section><!-- /.contact-section -->    
                        <section id="company-intro-section" class="inactive">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-6 col-md-6 col-lg-6 black-bg">


                                        <head>
                                            <meta charset="utf-8">
                                            <title>Stay Connected! Join Chat</title>
                                            <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                    
                                          <form>
                                          
                                            <h1>Start Meeting!</h1>
                                            
                                            <fieldset>
                                            
                                              <label for="meetingid">Your MeetingId:</label>
                                               <input type="text" id="yourmeetingid" name="meetingid" disabled>
                                              
                                              <label for="password">Password:</label>
                                              <input type="text" id="yourmeetingpassword" name="password">
                                              
                                           
                                          
                                            
                                              <label>Interests:</label>
                                              <input type="checkbox" id="muteaudio" value="muteaudio" name="user_interest"><label class="light" for="muteaudio">Mute Audio</label><br>
                                                <input type="checkbox" id="disablevideo" value="disablevideo" name="user_interest"><label class="light" for="disablevideo">Disable Video</label><br>
                                            
                                            </fieldset>
                                            <button id="startmeeting" type="submit">GO!</button>
                                          </form>
                                          
                                        </body>
                                     

                                     </div>
                                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                        <a href="#menu" class="change-section">
                                            <div class="black-bg btn-menu">
                                                <h2>Back to menu</h2>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </section><!-- /.company-intor-section -->    
                        <section id="testimonials-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                    
                                    <h2 class="text-center">Testimonials and Awards</h2>
                                    <div class="col-sm-12 col-md-12">
                                        <p>Maecenas euismod viverra enim, sed sodales nunc sagittis vel. Nullam placerat dignissim turpis, nec auctor leo malesuada vitae. Nunc a arcu fringilla, rutrum erat blandit, sollicitudin ipsum. Vivamus vitae cursus nibh. Etiam libero sapien, dictum sed dignissim a, lobortis quis sem. Morbi placerat, est eu vehicula dignissim, magna lacus tristique turpis, ut sollicitudin ante nulla at sem. Fusce neque nulla, fermentum at turpis elementum, venenatis viverra felis. Donec eget ipsum non dolor pulvinar ultricies vel id risus. Etiam tincidunt aliquet massa, sodales gravida magna posuere sit amet. Nullam tempus nec urna iaculis lacinia.</p>
                                        <p>Sed adipiscing ultricies diam ut blandit. <a href="#">Nullam lobortis</a> egestas velit, quis vulputate leo feugiat a. Etiam venenatis odio quis pharetra pulvinar. Maecenas nec tempus lectus. Ut quam nisl, tempus eu rutrum at, volutpat at tortor. Donec dapibus gravida elit. Sed venenatis malesuada elementum. Donec vestibulum odio metus, vel tempor magna luctus et. Suspendisse porttitor, justo eget interdum faucibus, turpis nibh lacinia urna, vitae porta erat odio eu est. Duis laoreet dui id mi ultricies, ut dictum elit aliquet. Vivamus et libero enim. Curabitur adipiscing quis turpis sed consequat. Morbi ut arcu at sapien tempus lobortis. Etiam congue, enim eget condimentum consequat, mauris dolor tincidunt eros, vitae suscipit justo turpis sed turpis. Etiam adipiscing et orci ac condimentum.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.company-intor-section -->    
                        
                    </div><!-- /.templatemo-content -->  
                </div><!-- /.templatemo-content-wrapper --> 
            </div><!-- /.row --> 

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                    <p class="footer-text">Copyright &copy; 2084 Your Company Name</p>
                </div><!-- /.footer --> 
            </div>

		</div><!-- /#main-wrapper -->
        
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div><!-- /#preloader -->
        

 
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
        
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
        
          
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn login-button okbutton" id="" data-dismiss="modal">Ok</button>
                </div>
              </div>
        
            </div>
          </div>    

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="loginjs/jquery.min.js"></script>
        <script src="loginjs/jquery-ui.min.js"></script>
        <script src="loginjs/jquery.backstretch.min.js"></script>
        <script src="loginjs/templatemo_script.js"></script>
        <script src="commonajax.js"></script>
        <script src="loginjs/main.js"></script> 
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>





    </body> 
</html>